{% extends "pcrd_unpack/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

{#<address>#}
{#    State Nuclear Power Software Development Center, SPICRI <br>#}
{#    South Zone of the Future Science & Technology Park <br>#}
{#    Beijing, 102209, China <br>#}
{#    <abbr title="Phone">P:</abbr>#}
{#    010-5668-1363#}
{#</address>#}

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">JohnLyuSmile@gmail.com</a><br />
{#    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>#}
</address>

{% endblock %}
