{% extends "pcrd_unpack/layout.html" %}
{% load custom_tags %}
{% load i18n %}

{% block style_sheet %}
    <style>
    .drop_num {
        text-align: center;
    }
    </style>
{% endblock %}

{% block title %}
    {{ equipment.equipment_name }} - {% trans "Princess Connect Re:Dive Wiki" %}
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4"><img src="{{ equipment_icon_dir }}/icon_equipment_{{ equipment.equipment_id }}.jpg" alt="">
            {{ equipment.equipment_name }}</h1>
        <hr class="my-4">
        <p class="lead">{{ equipment.description|escape_return|linebreaksbr }}</p>
    </div>

    {% if equipment.craft_flg %}
        <div class="container ">
            <div class="row">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th><h3>{% trans "Equipment Craft Info" %}</h3></th>
                        </tr>
                    </thead>
                </table>
            </div>
{#            <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>#}
            <div class="row justify-content-center">
                {% for eq_id, eq_num in components.items %}
                    <div>
                        <a href="{% url "pcrd_unpack:equipment" eq_id %}">
                            <img class="rounded mx-3 my-1" src="{{ equipment_icon_dir }}/icon_equipment_{{ eq_id }}.jpg" alt="">
                        </a>
                        <hr>
                        <div class="container drop_num">
                            <h5>Num: {{ eq_num }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
    {% include "pcrd_unpack/quest_drop_table.html" with quest_reward=drop_info%}
    {% endif %}

{% endblock %}
