<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Princess Connect Re:Dive Wiki</title>
    {% load staticfiles %}
    {% static '/Texture2D/assets/_elementsresources/resources/icon/equipment' as equipment_icon_dir %}

    <link rel="stylesheet" type="text/css" href="{% static 'pcrd_unpack/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pcrd_unpack/content/site.css' %}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.0/bootstrap-table.min.css">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <script src="{% static 'pcrd_unpack/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'pcrd_unpack:index' %}">Princess Connect Re:Dive Wiki</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pcrd_unpack:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'pcrd_unpack:about' %}">About</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'pcrd_unpack:contact' %}">Contact</a>#}
{#            </li>#}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    Dropdown#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                    <a class="dropdown-item" href="#">Action</a>#}
{#                    <a class="dropdown-item" href="#">Another action</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="#">Something else here</a>#}
{#                </div>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link disabled" href="#">Disabled</a>#}
{#            </li>#}
        </ul>
{#        <form class="form-inline my-2 my-lg-0">#}
{#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
        {% include 'pcrd_unpack/loginpartial.html' %}
    </div>
</nav>
    <div class="container body-content">
    {% block content %}

    {% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - Princess Connect Re:Dive Wiki</p>
        </footer>
    </div>

    <script src="{% static 'pcrd_unpack/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'pcrd_unpack/scripts/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'pcrd_unpack/scripts/respond.js' %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.0/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.0/locale/bootstrap-table-zh-CN.min.js"></script>

{#    use bootstrap tooltip#}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% block scripts %}

{% endblock %}

</body>
</html>
