<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        {{ title|default:"Princess Connect Re:Dive Wiki" }}
    {% endblock %}
    </title>

    {% load static %}
    {% load i18n %}
    {% static 'pcrd_unpack/Texture2D/assets/_elementsresources/resources/icon/equipment' as equipment_icon_dir %}
    {% static 'pcrd_unpack/Texture2D/assets/_elementsresources/resources/icon/item' as item_icon_dir %}

    <link rel="stylesheet" type="text/css" href="{% static 'pcrd_unpack/content/bootstrap.min.css' %}" />
{#    <!-- Latest compiled and minified CSS -->#}
{#    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.0/bootstrap-table.min.css">#}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/fc-3.2.4/sc-1.4.4/datatables.min.css"/>

    {#    my css#}
    <link rel="stylesheet" type="text/css" href="{% static 'pcrd_unpack/content/site.css' %}" />
    {% block style_sheet %}
    {% endblock %}

    <link rel="icon" type="image/png" sizes="96x96" href="{%  static "favicon-96x96.png" %}">
{#    <script src="{% static 'pcrd_unpack/scripts/modernizr-2.6.2.js' %}"></script>#}
</head>

<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="top_nav">
        <a class="navbar-brand" href="{% url 'pcrd_unpack:index' %}">{% trans "Princess Connect Re:Dive Wiki" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pcrd_unpack:area' %}">{% trans "Quest Areas" %}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pcrd_unpack:equipment_list' %}">{% trans "Equipments" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pcrd_unpack:unit_list' %}">{% trans "Characters" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pcrd_unpack:unit_summary' %}">{% trans "Summary" %}</a>
                </li>
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="{% url 'pcrd_unpack:item_list' %}">Items</a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="{% url 'pcrd_unpack:contact' %}">Contact</a>#}
    {#            </li>#}
    {#            <li class="nav-item dropdown">#}
    {#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
    {#                    Dropdown#}
    {#                </a>#}
    {#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
    {#                    <a class="dropdown-item" href="#">Action</a>#}
    {#                    <a class="dropdown-item" href="#">Another action</a>#}
    {#                    <div class="dropdown-divider"></div>#}
    {#                    <a class="dropdown-item" href="#">Something else here</a>#}
    {#                </div>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link disabled" href="#">Disabled</a>#}
    {#            </li>#}
            </ul>
    {#        <form class="form-inline my-2 my-lg-0">#}
    {#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
    {#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
    {#        </form>#}
            {% include 'pcrd_unpack/loginpartial.html' %}
        </div>
    </nav>
    </header>
    <main>
        <div class="d-block d-sm-none" id="xs-nav-spacer"></div>
        <div  class="container body-content">

        {% block content %}

        {% endblock %}

            <hr/>

        </div>
    </main>
    <footer class="footer px-5">
        <p class="mb-0">&copy; {{ year }} - Princess Connect Re:Dive Wiki</p>
    </footer>
    <script src="{% static 'pcrd_unpack/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'pcrd_unpack/scripts/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'pcrd_unpack/scripts/respond.js' %}"></script>
    <!-- Latest compiled and minified JavaScript -->
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.0/bootstrap-table.min.js"></script>#}

    <!-- Latest compiled and minified Locales -->
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.0/locale/bootstrap-table-zh-CN.min.js"></script>#}

{#    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>#}
{#    use bootstrap tooltip#}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/fc-3.2.4/sc-1.4.4/datatables.min.js"></script>

{% block scripts %}

{% endblock %}

</body>
</html>
