{% extends "pcrd_unpack/layout.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Quest Areas</h1>
        <p class="lead">here should be some discription</p>
        <hr class="my-4">
        {#        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>#}
        {#        <p class="lead">#}
        {#            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>#}
        {#        </p>#}
    </div>

    <ul class="list-group">
    {% for questareadata in questareadata_list %}
        <li class="list-group-item" ><a href="{% url "pcrd_unpack:area_detail" questareadata.area_id %}">{{ questareadata.area_name }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
