{% extends "pcrd_unpack/layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">{{ area_title }}</h1>

{#        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>#}
{#        <p class="lead">#}
{#            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>#}
{#        </p>#}
    </div>
{#    <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>#}

{% include "pcrd_unpack/quest_drop_table.html" with quest_reward=quest_reward %}

{% endblock %}