{% extends "pcrd_unpack/layout.html" %}
{% load i18n %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{% trans "Quest Areas" %}</h1>
        <hr class="my-4">
        <p class="lead">{% trans "Map list, click to see droped items in this Area" %}</p>
    </div>

    <hr class="my-4">
    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-normal-tab" data-toggle="pill" href="#pills-area-normal" role="tab" aria-controls="pills-home" aria-selected="true">{% trans "Normal" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-hard-tab" data-toggle="pill" href="#pills-are-hard" role="tab" aria-controls="pills-profile" aria-selected="false">{% trans "Hard" %}</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-area-normal" role="tabpanel" aria-labelledby="pills-normal-tab">
            <div class="row">
                {% for questareadata in questareadata_list %}
                    {% if questareadata.area_id < 12000 %}
                        <div class="col-lg-3 my-2" ><a  class="btn btn-success btn-lg btn-block" href="{% url "pcrd_unpack:area_detail" questareadata.area_id %}">{{ questareadata.area_name }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="pills-are-hard" role="tabpanel" aria-labelledby="pills-hard-tab">
            <div class="row">
                {% for questareadata in questareadata_list %}
                    {% if 12000 < questareadata.area_id%}
                        {% if questareadata.area_id < 20000%}
                            <div class="col-lg-3 my-2" ><a class="btn btn-danger btn-lg btn-block" href="{% url "pcrd_unpack:area_detail" questareadata.area_id %}">{{ questareadata.area_name }}</a></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <ul class="list-group">

    </ul>

{% endblock %}
