{% extends "pcrd_unpack/layout.html" %}
{% load static %}

{% block style_sheet %}

{% endblock %}

{% block content %}
    {% static "pcrd_unpack/Texture2D/assets/_elementsresources/resources/unit/icon" as unit_icon %}
{#    {% static "pcrd_unpack/Texture2D/assets/_elementsresources/resources/icon/unitplate/" as unitplate %}#}

    <div class="jumbotron-fluid h-100">
        <h1 class="display-4">
            Unit Summary</h1>
        <hr class="my-4">
        <p class="lead">Units Data at Level {{ max_level }}, Rank {{ max_rank }}, Star {{ max_rarity }} with fully enhanced equipments</p>
    </div>

    <div class="row">
        <table class="table table-sm table-responsive "  id="unit_summary_list">
        <thead>
        <tr>
            <th>PIC</th>
            <th>Name</th>
            {% for data_tag in data_tags %}
                <th>{{ data_tag }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for unitsummary, unit_summary_data in unit_summary_data.items %}
                <tr>
                    <td>
                        <a href="{% url "pcrd_unpack:unit" unitsummary.unit_id %}">
                            <img class="rounded d-block w-100"
                                 src="{{ unit_icon }}/icon_unit_{% if unitsummary.unit.rarity == 3 %}{{ unitsummary.unit.unit_id|add:"30" }}{% else %}{{ unitsummary.unit.unit_id|add:"10" }}{% endif %}.jpg" alt="">
                        </a>
                    </td>
                    <td>
                        {{ unitsummary.unit.unit_name }}
                    </td>
                        {% for unit_summary_datum in unit_summary_data %}
                            <td>
                            {{ unit_summary_datum}}
                            </td>
                        {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#unit_summary_list').DataTable();
        } );
    </script>
{% endblock %}