{% extends "pcrd_unpack/layout.html" %}
{% load static %}

{% block style_sheet %}
    <style type="text/css">
        img {
            max-width: 100%;
            {#max-height: 100%;#}
        }
    </style>
{% endblock %}

{% block content %}
    {% static "pcrd_unpack/Texture2D/assets/_elementsresources/resources/unit/icon" as unit_icon %}
    {% static "pcrd_unpack/Texture2D/assets/_elementsresources/resources/icon/unitplate/" as unitplate %}

    <div class="jumbotron h-100">
        <h1 class="display-4">
            Unit List</h1>
        <hr class="my-4">
        <p>Or if you want a data table view, go to summary page</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url "pcrd_unpack:unit_summary" %}" role="button">Summary Table</a>
        </p>
    </div>

    <div class="d-flex flex-wrap justify-content-center" id="unitdata_list">
        {% for unitdata in unitdata_list %}
            {% if unitdata.comment %}
                <div class="col-md-4 col-sm-6 my-2">
                <a href="{% url "pcrd_unpack:unit" unitdata.unit_id %}">
                    <img class="rounded"
                         src="{{ unitplate }}/unit_plate_{% if unitdata.rarity == 3 %}{{ unitdata.unit_id|add:"30" }}{% else %}{{ unitdata.unit_id|add:"10" }}{% endif %}.jpg" alt="">
                </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}