{% extends "pcrd_unpack/layout.html" %}
{% load static %}
{% block content %}

    <div class="jumbotron h-100">
        <h1 class="display-4"><img src="{{ unitdata_list }}/icon_equipment_{{ equipment.equipment_id }}.png" alt="">
            {{ equipment.equipment_name }}</h1>
        <hr class="my-4">
        <p class="lead">{{ equipment.description|linebreaksbr }}</p>
    </div>

    <div class="d-flex flex-wrap" id="unitdata_list">
        {% for unitdata in unitdata_list %}
            {% if not unitdata.craft_flg %}

                <a href="{% url "pcrd_unpack:equipment" unitdata.equipment_id %}">
                    <img class="rounded mx-3 my-1" src="{{ equipment_icon_dir }}/icon_equipment_{{ unitdata.equipment_id }}.png" alt="">
                </a>

            {% endif %}
        {% endfor %}
    </div>

{% endblock %}