{% extends "pcrd_unpack/layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Create Solution" %} - {% trans "Princess Connect Re:Dive Wiki" %}
{% endblock %}

{% block style_sheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'pcrd_unpack/content/team_deck.css' %}" />
{% endblock %}

{% block content %}
    {% if share_link %}
        <div class="row justify-content-center">
            <div class="input-group my-5 input-group-lg col-10">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Your Share Link</span>
                </div>
                <input type="text" class="form-control" readonly placeholder="Share Link" aria-label="Share Link" aria-describedby="basic-addon1" value="{{ share_link }}">
            </div>
        </div>
    {% endif %}

    <div class="container my-3">

        {% include "pcrd_unpack/solution/team_deck.html" with team="left" team_num=left_team rarities=left_rarity %}
        <div class="row justify-content-center m-3">
            <h2>VS</h2>
        </div>
        {% include "pcrd_unpack/solution/team_deck.html" with team="right" team_num=right_team rarities=right_rarity%}

    </div>
    <div class="row justify-content-center ">
        <div class="row col-8">
            {% if share_link %}
                <div class="mr-3">
                    <button type="button" class="btn btn-success btn-lg active" id="up_vote_btn">▲ {{ solution.up_vote }}</button>
                </div>
                <div class="mr-auto">
                    <button type="button" class="btn btn-warning btn-lg active mr-auto" id="down_vote_btn">▼ {{ solution.down_vote }}</button>
                </div>
            {% endif %}
            <button type="button" class="btn btn-primary btn-lg active ml-auto" id="share_btn" aria-disabled="false">Create Share Link</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% static "pcrd_unpack/Texture2D/assets/_elementsresources/resources/unit/icon" as unit_icon %}
    <script>
        {% autoescape off %}
            var left_team = {{ left_team }};
            var left_rarity = {{ left_rarity }};
            var right_team = {{ left_team }};
            var right_rarity = {{ right_rarity }};
            var unit_icon_path = "{{ unit_icon }}";
        {% endautoescape %}
        var add_solution_url = "{% url "pcrd_unpack:add_solution" %}";
        var vote_url = "{% url "pcrd_unpack:vote" %}";
    </script>
    <script type="text/javascript" src="{% static "pcrd_unpack/scripts/elements/ShareSolution.js" %}"></script>
    <script type="text/javascript" src="{% static "pcrd_unpack/scripts/elements/UnitSelector.js" %}"></script>
{% endblock %}