{% extends "pcrd_unpack/layout.html" %}
{% load static %}
{% load i18n %}


{% block style_sheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'pcrd_unpack/content/team_deck.css' %}" />
    <style>
    body .btn h2{
        font-size: 3vw;
    }
    @media (max-width: 576px) {
        #nav-spacer {

        }
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container justify-content-between">
        <div class="row justify-content-center m-3">
            <h1>Solutions</h1>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 pr-5" id="search_area">
                <div id="nav-pane" class="sticky-top d-flex flex-column">
                    <div class="my-5 d-none d-md-block" id="nav_spacer"></div>

                    <div class="mb-auto"><a class="btn btn-primary btn-lg btn-block" href="{% url "pcrd_unpack:create_solution" %}"><h2>Create</h2></a></div>
                    <div class="my-5"><a class="btn btn-secondary btn-lg btn-block disabled"  href="#"><h2>Search</h2></a></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="row justify-content-center m-2">
                    <h2>Top Voted</h2>
                </div>
                {% for s in solution %}
                    <div class="col bg-light">
                        <div class="row">
                            <div class="col-5">
                                {% include "pcrd_unpack/solution/team_deck.html" with team_num=s.left_team.team_list rarities=s.left_team.rarity_list disabled=True %}
                            </div>
                            <div class="col-2 row align-items-center">
                                <div class="col text text-dark text-center font-weight-bold" style="font-size: 2vw">V.S.</div>
                            </div>
                            <div class="col-5">
                                {% include "pcrd_unpack/solution/team_deck.html" with team_num=s.right_team.team_list rarities=s.right_team.rarity_list disabled=True %}
                            </div>
                        </div>
                        <div class="row justify-content-center ">
                            <div class="row col-8">
                                <div class="mr-3">
                                    <button type="button" class="btn btn-success active">▲ {{ s.up_vote }}</button>
                                </div>
                                <div class="mr-auto">
                                    <button type="button" class="btn btn-warning  active mr-auto">▼ {{ s.down_vote }}</button>
                                </div>
                                <a href="{% url "pcrd_unpack:solution" s.id %}"><button type="button" class="btn btn-secondary  active" aria-disabled="false">Edit it</button></a>
                            </div>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}