{% extends "pcrd_unpack/layout.html" %}
{% load static %}

{% block content %}
    {% static 'pcrd_unpack/Texture2D/assets/_elementsresources/resources/comic/' as comic_dir %}

    <div class="jumbotron">
        <div class="row justify-content-center"> <h1 class="display-4">404 Not Found !</h1></div>
        <div class="row justify-content-center"><img class="w-25 h-25" src="{{ comic_dir }}comic_l_105701_01.jpg" alt=""> </div>

{#        <p class="lead">here should be some discription</p>#}
        <hr class="my-4">
            Lost in the wilderness
        <p class="lead">
           
        </p>
    </div>

{% endblock %}