/* Background image */
.jumbotron {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #000;
}

.lead span {
    color: orange;
    font-weight: bold;
}

.bg-cover {
    background-size: 1110px  832px;
    color: white;
    background-position: center center;
    position: relative;
    z-index: -2;
}

.overlay {
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}