#equipment_table img{
    width: 4em;
    height: 4em;
}

#equipment_card_column img{
    width: 6em;
    height: 6em;
}


body {
    padding-top: 60px;
    padding-bottom: 20px;
}

#xs-nav-spacer {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
/*}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,*/
/*select,*/
/*textarea {*/
    /*max-width: 280px;*/
/*}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
