{% extends "pcrd_unpack/layout.html" %}
{% load static %}
{% load i18n %}


{% block title %}
    {%  trans "Summary"%}-{%  trans "Princess Connect Re:Dive Wiki"%}
{% endblock %}
{% block style_sheet %}
    <style>
    {#show table after init#}
    #unit_summary_list {
        visibility: hidden;
    }

    #unit_summary_list_wrapper #unit_summary_list{
        visibility: visible;
    }
    </style>
{% endblock %}

{% block content %}
    {% static "pcrd_unpack/Texture2D/assets/_elementsresources/resources/unit/icon" as unit_icon %}
{#    {% static "pcrd_unpack/Texture2D/assets/_elementsresources/resources/icon/unitplate/" as unitplate %}#}

    <div class="jumbotron-fluid h-100">
        <h1 class="display-4">
            Summary Data</h1>
    </div>

    <hr>
    <div class="col justify-content-center">
        <h2 class="text-center">Unit Maxim Data</h2>
        <hr class="my-4">
        <p class="lead">Units Data at Level {{ max_level }}, Rank {{ max_rank }},
            Star {{ max_rarity }}, Love Level {{ max_love }}
            with fully enhanced equipments</p>
    </div>
    <div class="row">
        <table class="table table-sm table-bordered table-hover"  id="unit_summary_list">
        <thead class="thead-dark">
        <tr>
            <th>PIC</th>
            <th>Name</th>
            {% for data_tag in data_tags %}
                <th>{{ data_tag }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for unitsummary, unit_summary_data in unit_summary_data.items %}
                <tr>
                    <th>
                        <a href="{% url "pcrd_unpack:unit" unitsummary.unit_id %}">
                            <img class="rounded d-block w-100"
                                 src="{{ unit_icon }}/icon_unit_{% if unitsummary.unit.rarity == 3 %}{{ unitsummary.unit.unit_id|add:"30" }}{% else %}{{ unitsummary.unit.unit_id|add:"10" }}{% endif %}.jpg" alt="">
                        </a>
                    </th>
                    <td>
                        {{ unitsummary.unit.unit_name }}
                    </td>
                        {% for unit_summary_datum in unit_summary_data %}
                            <td>
                            {{ unit_summary_datum}}
                            </td>
                        {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <hr>
    <div class="row justify-content-center">
    <h2> Experience Analyse</h2>
    </div>
    <div class="container row d-flex">
        <div class="container col-md-5 col-sm-12">
            <canvas id="exp_chart" width="400" height="400"></canvas>
        </div>
        <div class="container col-md-5 col-sm-12">
            <canvas id="exp_compare_chart" width="400" height="400"></canvas>
        </div>

    </div>
    <div class="row justify-content-center">
        <h2> Mana Analyse</h2>
    </div>
    <div class="container row d-flex">
        <div class="container col-md-5 col-sm-12">
            <canvas id="skill_mana_chart" width="400" height="400"></canvas>
        </div>
        <div class="container col-md-5 col-sm-12">
            <canvas id="skill_compare_chart" width="400" height="400"></canvas>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="{% static 'pcrd_unpack/scripts/palette.js' %}"></script>

    <script>
        function hexToRgbA(hex){
            var c;
            if(/^#([A-Fa-f0-9]){6,8}$/.test(hex)){
                c= hex.substring(1).split('');
                if(c.length=== 3){
                    c= [c[0], c[0], c[1], c[1], c[2], c[2]];
                }
                c= '0x'+c.join('');
                if (c.length === 10) {
                    return 'rgba('+[(c>>24)&255, (c>>16)&255, (c>>8)&255, (c&255)/255].join(',')+')';
                }
                return 'rgba('+[(c>>16)&255, (c>>8)&255, c&255].join(',')+',1)';
            }
            throw new Error('Bad Hex');
        }
        function get_color(offset, border=false){
            var len = 8;
            offset = offset % len;
            var result = "";
            return palette('mpn65', len).map(function(hex) {
                if (border){
                    result =  '#' + hex;
                } else {
                result =  '#' + hex + "30";
                }
                return hexToRgbA(result)
            })[offset]
        }
        $(document).ready(function() {
            $('#unit_summary_list').DataTable({
                "order": [[ 3, "asc" ]],
                scrollY:        500,
                scrollX:        true,
                {#scrollCollapse: true,#}
                paging:         false,
                fixedColumns: {
                    leftColumns: 2
                }
            });
        } );


        var ctx = document.getElementById("exp_chart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ chart_datas.team.labels }},
                datasets: [
                    {
                        label: "{{ chart_datas.team.title }}",
                        data: {{ chart_datas.team.data }},
                        backgroundColor: get_color(1),
                        borderColor: get_color(1, true),
                        borderWidth: 1
                    },
                    {
                        label: "{{ chart_datas.unit.title }}",
                        data: {{ chart_datas.unit.data }},
                        backgroundColor: get_color(2),
                        borderColor: get_color(2, true),
                        borderWidth: 1
                    },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        },
                        scaleLabel:{
                            display: true,
                            labelString: 'experience'
                        }
                    }]
                }
            }
        });

        var exp_compare_chart_ctx = document.getElementById("exp_compare_chart").getContext('2d');
        var exp_compare_chart = new Chart(exp_compare_chart_ctx, {
            type: 'line',
            data: {
                labels: {{ chart_datas.compare.labels }},
                datasets: [
                    {
                        label: "{{ chart_datas.compare.title }}",
                        data: {{ chart_datas.compare.data }},
                        backgroundColor: get_color(3),
                        borderColor: get_color(3, true),
                        borderWidth: 1
                    },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        },
                        scaleLabel:{
                            display: true,
                            labelString: 'ratio'
                        }
                    }]
                }
            }
        });

        var skill_compare_chart_ctx = document.getElementById("skill_compare_chart").getContext('2d');
        var skill_compare_chart = new Chart(skill_compare_chart_ctx, {
            type: 'line',
            data: {
                labels: {{ chart_datas.skill_compare.labels }},
                datasets: [
                    {
                        label: "{{ chart_datas.skill_compare.title|title }}",
                        data: {{ chart_datas.skill_compare.data }},
                        backgroundColor: get_color(4),
                        borderColor: get_color(4, true),
                        borderWidth: 1
                    },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        },
                        scaleLabel:{
                            display: true,
                            labelString: 'ratio'
                        }
                    }]
                }
            }
        });

        {% with chart_tag="skill_mana" %}

            var {{ chart_tag }}_chart_ctx = document.getElementById("{{ chart_tag }}_chart").getContext('2d');
            var {{ chart_tag }}_chart = new Chart({{ chart_tag }}_chart_ctx, {
                type: 'line',
                data: {
                    labels: {{ chart_datas.skill_mana.labels }},
                    datasets: [
                        {
                            label: "{{ chart_datas.skill_mana.title|title }}",
                            data: {{ chart_datas.skill_mana.data }},
                            backgroundColor: get_color(5),
                            borderColor: get_color(5, true),
                            borderWidth: 1
                        },
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            },
                            scaleLabel:{
                                display: true,
                                labelString: 'ratio'
                            }
                        }]
                    }
                }
            });
        {% endwith %}
    </script>
{% endblock %}